.map_api #map{
    width: 1300px; height: 600px; border: 1px solid #999;
}

#content .content_area .addr_area{width: 100%; font-size: 1.5rem; background: #eee;
    padding: 20px 50px; border-radius: 100px; display: flex; justify-content: space-between;
    margin: 50px 0; align-items: center;}
#content .content_area .addr_area p:nth-of-type(1){font-family: "Roboto", sans-serif; font-weight: 600;
    color: #11a691;}
#content .content_area .addr_area p strong{margin-right: 30px;}
#content .content_area>ul{border-top: 3px solid #11a691; border-bottom: 3px solid #11a691;}
#content .content_area>ul>li{padding: 50px 0; border-bottom: 1px solid #ccc;
    display: flex; justify-content: space-between; align-items: center;}
#content .content_area>ul>li:last-child{border: none;}
#content .content_area>ul>li div:nth-of-type(1){width: 80px; height: 80px; background: #eee;
    border-radius: 40px;}
#content .content_area>ul>li div:nth-of-type(1) i{font-size: 3.5rem; position: relative;
    top: 50%; left: 50%; transform: translate(-50%,-50%);}
#content .content_area>ul>li div:nth-of-type(2){font-weight: 600; color: #11a691;}
#content .content_area>ul>li div:nth-of-type(3){width: 930px;}
#content .content_area>ul>li ul{list-style: disc;}
#content .content_area>ul>li li{margin-bottom: 30px}
#content .content_area>ul>li dt{margin-bottom: 10px; font-weight: 500; color: #111;}
#content .content_area>ul>li dd{line-height: 2rem;}
#content .content_area>ul>li:nth-of-type(3) li:last-child dl{margin-bottom: 20px;}
#content .content_area>ul>li:nth-of-type(3) li:last-child p{line-height: 2rem;}
#content .content_area>ul>li ol{list-style: decimal;}
#content .content_area>ul>li ol li{margin-bottom: 0; line-height: 2rem;}